{% extends 'articles/base.html.twig' %}

{% block body %}
    <div class="header">
        <br/>
        <br/>
    </div>
    <div class="content">
        <div class="count">
            <h3><u> ARTICLE TITLE: {{ oneArticle.title }}</u></h3>
            <h4>ID: {{ oneArticle.id }} </h4>
            <h4>CONTENT:</h4> <br>
            {{ oneArticle.content }}

        </div>
        <br/>
        <br/>
        <hr>
        <form action=" {{ path('article_index') }} ">
            <button type="submit">Back to list</button>
        </form>
        <br/>
        <br/>

        <div class="commentsContainer">
            <div class="commentForm">
                {{ form(commentForm) }}
                <br/>
            </div>
        </div>
        <div>
            <hr>
            <h3>Comments:</h3>
            <tr>
                {% for comment in comments %}
                    <td class="singleComment"><b> {{ comment.username }} </b></td>
                    <br/>
                    <td class="singleComment"> {{ comment.comment }} </td>
                    <br/><br/>
                {% endfor %}
            </tr>
        </div>
    </div>

{% endblock %}